# Django
DJANGO_SECRET_KEY=reemplazar-por-una-clave-local
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

# MySQL
MYSQL_DATABASE=eva3_back_end
MYSQL_USER=root
MYSQL_PASSWORD=reemplazar
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
